@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Gilroy";
  --text-dcx-4xs: var(--text-4xs);
  --text-dcx-3xs: var(--text-3xs);
  --text-dcx-3xs-plus: var(--text-3xs-plus);
  --text-dcx-2xs: var(--text-2xs);
  --text-dcx-2xs-plus: var(--text-2xs-plus);
  --text-dcx-xs: var(--text-xs);
  --text-dcx-xs-plus: var(--text-xs-plus);
  --text-dcx-sm: var(--text-sm);
  --text-dcx-md: var(--text-md);
  --text-dcx-md-plus: var(--text-md-plus);
  --text-dcx-base: var(--text-base);
  --color-dcx-surface-void: var(--theme-surface-void);
  --color-dcx-surface-deep-alt: var(--theme-surface-deep-alt);
  --color-dcx-surface-dark: var(--theme-surface-dark);
  --color-dcx-error-deep-bg: var(--theme-error-deep-bg);
  --color-dcx-accent-variant: var(--theme-accent-variant);
  --color-dcx-accent-deep: var(--theme-accent-deep);
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}
